body {
  margin: 0;
  padding: 0;
  background-image: url("img17.jpg");
  background-size: cover;
}
h1 {
  font-family: "Lemonada", cursive;
  font-size: 2em;
  /* font-weight: bold; */
  width: 400px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  text-align: center;

  box-shadow: pink;
  color: black;
  float: right;
  text-shadow: #888888;
}
span {
  text-decoration: underline;
  color: white;
}
.images {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
}
img:hover {
  transform: scale(1.1);
}
footer {
  background-color: black;
  font-family: "Lemonada", cursive;
  font-size: 2em;
  color: white;
  text-align: center;
}
